<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>应用列表</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/common.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/validator.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.code" @keyup.enter="query" placeholder="顾客编码">
            </div>

            <div class="form-group col-md-1">
                <select  v-model="q.factoryId" id="searchPrizeTypeId"
                         style="width: 213px;border: 1px solid #ccc;border-radius: 3px;height: 30px;line-height: 30px;">
                    <option value="-100">
                        所有水厂
                    </option>
                    <option v-for="option in FactoryMessageList" v-bind:value="option.id">
                        {{ option.id+":"+option.name }}
                    </option>
                </select>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-default" @click="query">查询</a>
            <a  th:if="${addPer=='true'}"  class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a th:if="${updatePer=='true'}" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a th:if="${deletePer=='true'}" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;禁用</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <!--   新增  修改 -->
    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal" style="float:left">
            <div class="form-group">
                <div class="col-sm-2 control-label">所属水厂：</div>
                <div class="col-sm-10">
                    <!--<input type="text" v-model="activityInfo.id" class="hidden"/>-->

                    <select  v-model="app.factoryId"
                             style="width: 375px;border: 1px solid #ccc;border-radius: 3px;height: 30px;line-height: 30px;">
                        <option v-for="option in FactoryMessageList" v-bind:value="option.id">
                            {{ option.id+":"+option.name }}
                        </option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所属片区：</div>
                <div class="col-sm-10">
                    <!--<input type="text" v-model="activityInfo.id" class="hidden"/>-->

                    <select  v-model="app.areaId"
                             style="width: 375px;border: 1px solid #ccc;border-radius: 3px;height: 30px;line-height: 30px;">
                        <option v-for="option in AreaMessageList" v-bind:value="option.id">
                            {{ option.id+":"+option.name }}
                        </option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所属营业厅：</div>
                <div class="col-sm-10">
                    <!--<input type="text" v-model="activityInfo.id" class="hidden"/>-->

                    <select  v-model="app.hallId"
                             style="width: 375px;border: 1px solid #ccc;border-radius: 3px;height: 30px;line-height: 30px;">
                        <option v-for="option in HallMessageList" v-bind:value="option.id">
                            {{ option.id+":"+option.name }}
                        </option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所属表册：</div>
                <div class="col-sm-10">
                    <!--<input type="text" v-model="activityInfo.id" class="hidden"/>-->

                    <select  v-model="app.archiveId"
                             style="width: 375px;border: 1px solid #ccc;border-radius: 3px;height: 30px;line-height: 30px;">
                        <option v-for="option in ArchiveMessageList" v-bind:value="option.id">
                            {{ option.id+":"+option.name }}
                        </option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">地址</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="app.address" placeholder="地址"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">顾客编码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="app.code" placeholder="顾客编码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">身份证</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="app.idCard" placeholder="身份证"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">名字</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="app.name" placeholder="名字"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">手机号码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="app.phone" placeholder="手机号码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">座机</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="app.tel" placeholder="座机"/>
                </div>
            </div>
            <!--<div class="form-group">
                <div class="col-sm-2 control-label">frequency</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="app.frequency" placeholder="frequency"/>
                </div>
            </div>-->
          <!--  <div class="form-group">
                <div class="col-sm-2 control-label">familyCount</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="app.familyCount" placeholder="familyCount"/>
                </div>
            </div>-->
            <div class="form-group" style="float:left; width:500px;">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>

        <!--  批量插入顾客信息 -->
        <form id="itemForm" role="form" class="form-horizontal" enctype="multipart/form-data" style="margin-left: 250px; width:820px; float:left">
            <h3>批量插入顾客信息</h3>
            <div id="vmapp" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
                <table class="form">
                    <tr>
                        <th class="formTitle">下载模版</th>
                        <td class="formValue"><a href="../../js/customerExcel.xlsx" download="顾客输入模板.xlsx">顾客导入模板.xlsx</a></td>
                    </tr>
                    <tr>
                        <th class="formTitle"></th>
                        <td class="formValue">
                            <ul>
                                <li>仅支持上传.xls,.xlsx文件格式。</li>
                                <li>仅支持单个文件导入。</li>
                                <li>文件大小可能会影响上传结果。</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">上传文件</th>
                        <td class="formValue">
                            <input class="form-input" type="file" name="fileName" id="fileName"/>
                        </td>
                    </tr>

                </table>
            </div>
        </form>
        <button id="submit" style="margin: 17px 100px 0 260px;">确定</button>
        <div style="clear:both"></div>
    </div>



    <!------------------ 应用详情弹框 ----------------------------->
    <div class="modal fade" id="modal_app_info">
        <div class="modal-dialog">
            <form class="form-horizontal" style="float:left;">
                <div class="modal-content" style="width: 1000px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">顾客信息</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">顾客名：</div>
                            <div class="col-sm-3">
                                <input type="text" v-model="app.name" class="no-border" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">片区名：</div>
                            <div class="col-sm-3">
                                <input type="text" v-model="app.areaName" class="no-border" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">表册名：</div>
                            <div class="col-sm-3">
                                <input type="text" v-model="app.archiveName" class="no-border" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">营业厅名：</div>
                            <div class="col-sm-3">
                                <input type="text" v-model="app.hallName" class="no-border" readonly="readonly"/>
                            </div>
                        </div>
                       <!-- <div class="form-group">
                            <div class="col-sm-3 control-label">familyCount：</div>
                            <div class="col-sm-3">
                                <input type="text" v-model="app.familyCount" class="no-border" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">frequency：</div>
                            <div class="col-sm-3">
                                <input type="text" v-model="app.frequency" class="no-border" readonly="readonly"/>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <div class="col-sm-3 control-label">创建人：</div>
                            <div class="col-sm-3">
                                <input type="text" v-model="app.createUserName" class="no-border" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">创建时间：</div>
                            <div class="col-sm-3">
                                <input type="text" v-model="app.createTimeForHTML" class="no-border" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">修改人：</div>
                            <div class="col-sm-3">
                                <input type="text" v-model="app.updateUserName" class="no-border" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">修改时间：</div>
                            <div class="col-sm-3">
                                <input type="text" v-model="app.updateTimeForHTML" class="no-border" readonly="readonly"/>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </form>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<script src="../../js/modules/customer/customer.js"></script>
<script th:inline="javascript">

    $("#submit").click(function () {
        submitForm();
    });
    //数据上传
    function submitForm() {
        //FormData不兼容IE及低版本浏览器
        var formData = new FormData($("#itemForm")[0]);

        $.ajax({
            url: '/poi/importCustomerExcelData',
            async: false,
            cache: false,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                //成功返回
                if (data.code == 0) {
                    alert('导入分配数据保存成功', function(){
                        vm.reload();
                    });
                    /*  layer.alert("导入分配数据保存成功", function () {
                          parent.layer.close(layerIndex);
                      });*/
                }
                else {
                    alert("导入分配数据保存失败，消息：" + data.msg, function(){
                         vm.reload();
                    });
                    /*layer.alert("导入分配数据保存失败，消息：" + data.msg, function () {
                        parent.layer.close(layerIndex);
                    });*/
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("导入分配异常：" + errorThrown, function(){
                     vm.reload();
                });
                /* layer.alert("导入分配异常：" + errorThrown, function () {
                     parent.layer.close(layerIndex);
                 });*/
            }
        });
    }

</script>
</body>
</html>