<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../libs/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/loginstyle.css"/>
</head>
<body>
<div class="main">
    <div class="mainin">

        <div class="mainin1">
            <ul>
                <li><span>手机号：</span><input name="loginName" type="text" id="loginName" placeholder="手机号"
                                            class="SearchKeyword"></li>
                <li><span>密码：</span><input type="password" name="Possword" id="Possword" placeholder="密码"
                                           class="SearchKeyword2"></li>
                <li>
                    <button class="tijiao" id="login">登录</button>
                </li>
            </ul>
        </div>
        <div class="footpage"></div>
    </div>
</div>
<img src="../../images/loading.gif" id="loading" style=" display:none;position:absolute;"/>
<div id="POPLoading" class="cssPOPLoading">
    <div style=" height:110px; border-bottom:1px solid #9a9a9a">
        <div class="showMessge"></div>
    </div>
    <div style=" line-height:40px; font-size:14px; letter-spacing:1px;">
        <a onclick="puc()">确定</a>
    </div>
</div>
<script type="text/javascript">

    $(document).keyup(function(event){
        if(event.keyCode ==13){
            $("#login").click();
        }
    });
    //登录模块
    $("#login").click(function () {
        //参数校验
        if ($("#loginName").val() == null || $("#loginName").val() == "" || $("#Possword").val() == null || $("#Possword").val() == "") {
            alert("请输入正确的手机号和密码");
            return;
        }
        var telPhone = $("#loginName").val();
        var password = $("#Possword").val();

        $.ajax({
            type: 'GET',
            url: "/employeeOper/login",
            dataType: "json",
            data:  {'telPhone': telPhone, 'password': password},
            success: function (returnJsonData) {
                if(returnJsonData.data == 1){
                    window.location.href="/index";
                }else{
                    alert("手机号或密码错误!");
                }
            },
            error: function (returnJsonData) {
                alert("出现异常!请联系管理员!");
            }
        });
    });


</script>
</body>
</html>
