<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.water.dao.CustomerDAO" >
  <resultMap id="BaseResultMap" type="com.water.domain.Customer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="archive_id" property="archiveId" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="factory_id" property="factoryId" jdbcType="INTEGER" />
    <result column="family_count" property="familyCount" jdbcType="INTEGER" />
    <result column="frequency" property="frequency" jdbcType="INTEGER" />
    <result column="hall_id" property="hallId" jdbcType="INTEGER" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
    <result column="factoryName" property="factoryName" jdbcType="VARCHAR" />
    <result column="archiveName" property="archiveName" jdbcType="VARCHAR" />
    <result column="updateUserName" property="updateUserName" jdbcType="VARCHAR" />
    <result column="createUserName" property="createUserName" jdbcType="VARCHAR" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, address, archive_id, area_id, code, create_time, create_user, factory_id, family_count, 
    frequency, hall_id, id_card, is_delete, name, phone, tel, update_time, update_user
  </sql>
  <!--权限过滤-->
  <sql id="authSql">
    <where>
      and is_delete = 0
      <if test="factoryIds != null and factoryIds.size != 0">
        and factory_id in
        <foreach collection="factoryIds" index="index" item="item"
                 open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </sql>
  <!--权限过滤  for t_factory  -->
  <sql id="authSqlForFactoryTable">
    <where>
      and is_delete = 0
      <if test="factoryIds != null and factoryIds.size != 0">
        and id in
        <foreach collection="factoryIds" index="index" item="item"
                 open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </sql>
  <!-- 查询条件 -->
  <sql id="whereClause">
    <where>
      and is_delete = 0
      <if test="code != null and code.trim() != ''">
        and code like concat('%', trim(#{code}),'%')
      </if>
      <if test="factoryId != null and factoryId.trim() != '' ">
        and factory_id =#{factoryId}
      </if>
      <if test="id != null ">
        and id =#{id}
      </if>
      <if test="factoryIds != null and factoryIds.size != 0">
        and factory_id in
        <foreach collection="factoryIds" index="index" item="item"
                 open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>

    </where>
  </sql>
  <select id="queryTotal" resultType="int">
    select count(1) from t_customer
    <include refid="whereClause"/>
  </select>

  <select id="getIdByCustCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select   <include refid="Base_Column_List"/> from t_customer where code = #{code}  and is_delete = 0
  </select>

  <select id="queryList" resultMap="BaseResultMap">
    select    a.id, a.address, a.archive_id, a.area_id, a.code, a.create_time, a.create_user, a.factory_id, a.family_count,
    a.frequency, a.hall_id, a.id_card, a.is_delete, a.name, a.phone, a.tel, a.update_time, a.update_user,
    b.name as factoryName,c.name as archiveName,  d.name as areaName,e.username as createUserName,f.username as updateUserName,
    g.name as hallName
    from (select id,name from t_factory <include refid="authSqlForFactoryTable"/>)  as b  right JOIN (
    select
    <include refid="Base_Column_List"/>
    from t_customer
    <include refid="whereClause"/>

    <choose>
      <when test="sidx != null and sidx.trim() != ''">
        order by ${sidx} ${order}
      </when>
      <otherwise>
        order by id desc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
    )as a on b.id = a.factory_id left JOIN (select id,name from t_archive where is_delete = 0) as c ON c.id = a.archive_id
    left join (SELECT id,name from t_area <include refid="authSql"/> ) as d on d.id = a.area_id
    left  join (SELECT id,username from t_employee <include refid="authSql"/> ) as e on e.id = a.create_user
    left  join (SELECT id,username from t_employee <include refid="authSql"/> ) as f on f.id = a.update_user
    left  join (SELECT id,name from t_bizhall <include refid="authSql"/> ) as g on g.id = a.hall_id
  </select>

  <update id="updateDeleteState" parameterType="java.lang.Long">
    update t_customer
    set is_delete = 1
    where id  =  #{id}
  </update>

  <select id="selectArchiveMessage" resultType="com.water.domain.IdAndNameDTO"  >
    select id , name from t_archive
    <where>
      and is_delete = 0
      <if test="AreaIds != null and AreaIds.size != 0">
        and area_id in
        <foreach collection="AreaIds" index="index" item="item"
                 open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.water.domain.Customer" >
    insert into t_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="archiveId != null" >
        archive_id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
      <if test="familyCount != null" >
        family_count,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="hallId != null" >
        hall_id,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="familyCount != null" >
        #{familyCount,jdbcType=INTEGER},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="hallId != null" >
        #{hallId,jdbcType=INTEGER},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.water.domain.Customer" >
    update t_customer
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="archiveId != null" >
        archive_id = #{archiveId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="familyCount != null" >
        family_count = #{familyCount,jdbcType=INTEGER},
      </if>
      <if test="frequency != null" >
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="hallId != null" >
        hall_id = #{hallId,jdbcType=INTEGER},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


    <!--  批量插入  -->
  <insert id="insertBatch" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="id" >
<!--  <selectKey resultType ="java.lang.Integer" keyProperty= "id" order= "AFTER">
                  SELECT LAST_INSERT_ID()
  </selectKey >-->
    insert into t_customer
    (address, archive_id, area_id, code,  create_user, factory_id,
     hall_id, id_card,  name, phone, tel, update_user)
    VALUES
      <foreach collection="list" item="customer" index="index" separator=",">
          (
          #{customer.address}, #{customer.archiveId},
          #{customer.areaId},
          #{customer.code},
          #{customer.createUser}, #{customer.factoryId},
          #{customer.hallId}, #{customer.idCard},
          #{customer.name},
          #{customer.phone},
          #{customer.tel}, #{customer.updateUser}
          )
      </foreach >
</insert>

  <select id="getIdAndCode" resultMap="BaseResultMap" parameterType="java.util.List" >
    SELECT id,code from t_customer
    <where>
      and is_delete = 0
        and code in
        <foreach collection="list" index="index" item="item"
                 open="(" separator="," close=")">
          #{item.custCode}
        </foreach>
    </where>

  </select>
</mapper>