<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.water.dao.EmployeeDAO" >
  <resultMap id="BaseResultMap" type="com.water.domain.Employee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="factory_id" property="factoryId" jdbcType="INTEGER" />
    <result column="factory_name" property="factoryName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="tel_phone" property="telPhone" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, factory_id, password, real_name, tel_phone, username, is_delete ,user_type,factory_name
  </sql>
  <!-- 查询条件 -->
  <sql id="whereClause">
    <where>
      and is_delete = 0
      <if test="realName != null and realName.trim() != ''">
        and real_name like concat('%', trim(#{realName}),'%')
      </if>
      <if test="factoryName != null and factoryName.trim() != ''">
        and factory_name like concat('%', trim(#{factoryName}),'%')
      </if>
      <if test="id != null and id.trim() != ''">
        and  id = #{id,jdbcType=INTEGER}
      </if>
      <if test="userType != null">
        and  user_type = #{userType,jdbcType=INTEGER}
      </if>

    </where>
  </sql>
  <select id="selectByPrimaryKey" resultType="com.water.domain.Employee" parameterType="java.lang.Integer" >
    select  b.factory_name as factoryName,b.user_type as userType, b.id, b.factory_id as factoryId, b.password, b.real_name as realName, b.tel_phone as telPhone, b.username, b.is_delete , a.name as factoryName
    from (select id,name from t_factory where is_delete = 0) as a RIGHT JOIN (
    select
    <include refid="Base_Column_List"/>
    from t_employee
   where   is_delete = 0 and id = #{id,jdbcType=INTEGER}
    )as b ON b.factory_id = a.id
  </select>

  <select id="queryTotal" resultType="int">
    select count(1) from t_employee
    <include refid="whereClause"/>
  </select>
  <select id="queryList" resultType="com.water.domain.Employee">
    select  b.factory_name as factoryName, b.user_type as userType,  b.id, b.factory_id as factoryId, b.password, b.real_name as realName, b.tel_phone as telPhone, b.username, b.is_delete , a.name as factoryName
    from (select id,name from t_factory where is_delete = 0) as a RIGHT JOIN (
    select
    <include refid="Base_Column_List"/>
    from t_employee
    <include refid="whereClause"/>
    <choose>
      <when test="sidx != null and sidx.trim() != ''">
        order by ${sidx} ${order}
      </when>
      <otherwise>
        order by id desc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
    )as b ON b.factory_id = a.id
  </select>
  <update id="updateDeleteState"  parameterType="java.lang.Long" >
    update t_employee
    set is_delete = 1
    where id  =  #{id}
  </update>

  <update id="modifyPassword" parameterType="com.water.domain.Employee">
    update t_employee
    set password   =   #{password,jdbcType=VARCHAR}
    where tel_phone =     #{telPhone,jdbcType=VARCHAR}
  </update>


  <select id="queryObject" resultMap="BaseResultMap">
     select password,factory_id,user_type,tel_phone,real_name from t_employee where is_delete = 0 and tel_phone = #{telPhone}
  </select>


  <insert id="insertSelective" parameterType="com.water.domain.Employee" >
    insert into t_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="telPhone != null" >
        tel_phone,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="factoryName != null" >
        factory_name,
      </if>


    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="telPhone != null" >
        #{telPhone,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="factoryName != null" >
        #{factoryName,jdbcType=VARCHAR},
      </if>


    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.water.domain.Employee" >
    update t_employee
    <set >
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="telPhone != null" >
        tel_phone = #{telPhone,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        user_type =  #{userType,jdbcType=INTEGER},
      </if>
      <if test="factoryName != null" >
        factory_name =  #{factoryName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>