<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.water.dao.HallDAO" >
  <resultMap id="BaseResultMap" type="com.water.domain.Hall" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="factory_id" property="factoryId" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="factory_name" property="factoryName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, address, factory_id, is_delete, name, tel
  </sql>
  <!--权限过滤-->
  <sql id="authSql">
    <where>
      and is_delete = 0
      <if test="factoryIds != null and factoryIds.size != 0">
        and id in
        <foreach collection="factoryIds" index="index" item="item"
                 open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </sql>
  <!-- 查询条件 -->
  <sql id="whereClause">
    <where>
      and is_delete = 0
      <if test="factoryId != null and factoryId.trim() != ''">
        and factory_id = #{factoryId}
      </if>
      <if test="id != null ">
        and  id = #{id,jdbcType=INTEGER}
      </if>
      <if test="factoryIds != null and factoryIds.size != 0">
        and factory_id in
        <foreach collection="factoryIds" index="index" item="item"
                 open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </sql>
  <select id="queryTotal" resultType="int">
    select count(1) from t_bizhall
    <include refid="whereClause"/>
  </select>

  <select id="queryList" resultMap="BaseResultMap">
    select  a.id, a.address, a.factory_id, a.is_delete, a.name, a.tel,b.name as factory_name
    from (select id,name from t_factory <include refid="authSql"/>) as b  right JOIN (
    select
    <include refid="Base_Column_List"/>
    from t_bizhall
    <include refid="whereClause"/>
    <choose>
      <when test="sidx != null and sidx.trim() != ''">
        order by ${sidx} ${order}
      </when>
      <otherwise>
        order by id desc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
    )as a on b.id = a.factory_id
  </select>

  <update id="updateDeleteState" parameterType="java.lang.Long">
    update t_bizhall
    set is_delete = 1
    where id  =  #{id}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_bizhall
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectFactoryMessage" resultType="com.water.domain.IdAndNameDTO"  >
      select id , name from t_factory
    <where>
      and is_delete = 0
      <if test="factoryIds != null and factoryIds.size != 0">
        and id in
        <foreach collection="factoryIds" index="index" item="item"
                 open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>

  </select>


  <select id="getMeterMessage" resultType="com.water.domain.IdAndNameDTO"  >
    select id , name from t_meter
    <where>
      and is_delete = 0
     <!-- <if test="factoryIds != null and factoryIds.size != 0">
        and id in
        <foreach collection="factoryIds" index="index" item="item"
                 open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>-->
    </where>

  </select>


  <select id="getPriceTypeMessage" resultType="com.water.domain.IdAndNameDTO"  >
    select id , name from t_price_type
    <where>
      and is_delete = 0
       <if test="factoryIds != null and factoryIds.size != 0">
         and factory_id in
         <foreach collection="factoryIds" index="index" item="item"
                  open="(" separator="," close=")">
           #{item}
         </foreach>
       </if>
    </where>
  </select>



  <insert id="insertSelective" parameterType="com.water.domain.Hall" >
    insert into t_bizhall
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>

      <if test="name != null" >
        name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="factoryName != null" >
        factory_name,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>

      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null" >
        #{factoryName,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.water.domain.Hall" >
    update t_bizhall
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>

      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null" >
        factory_name = #{factoryName,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>